@model MiBibliotecaDigital.Models.Libros

@{
    ViewData["Title"] = "Crear Libro";
}

<h2>Nuevo Libro</h2>

<form asp-action="Create">
    <div class="mb-3">
        <label class="form-label">Título</label>
        <input asp-for="Titulo" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Editorial</label>
        <input asp-for="Editorial" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Año de Publicación</label>
        <input asp-for="AñoPublicacion" type="number" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
