body {
    color: white !important;
    background-color: #222; 
}

.navbar, .footer {
    background-color: #111 !important;
}

a, h1, h2, h3, h4, h5, h6, p, label, td, th {
    color: white !important;
}

.table {
    color: white !important;
    background-color: #333 !important;
}

.btn {
    color: white !important;
}
